
<div class="grid" >
    <h2>Login!</h2>
    <div class="mat-elevation-z4">
        <div class="contenedorLogin">
    <form [formGroup]= "loginForm" (ngSubmit)="getUserToken()">
        <div>
            <mat-form-field>
                <input matInput formControlName="email" type="text" placeholder="Email" >
            </mat-form-field>
        </div>

        <div>
            
            <mat-form-field>
                <input matInput formControlName="password" type="password" placeholder="Contraseña" >
            </mat-form-field>
        </div>

        <div>
            <input type="submit" value="Ingresar"  mat-raised-button color="succes">
        </div>
        <p>¿No tiene cuenta?</p>
        <div>
            
           
                <input type="button" value="Crear cuenta"  mat-raised-button color="succes" >
            
        </div>

    </form>
</div>
</div>
</div>
