<p>
    Por favor, lea estos Términos y Condiciones cuidadosamente 
    antes de usar www.criptotrust.com (el sitio).
    Al acceder o utilizar el Sitio en cualquier forma, incluyendo, pero no limitado a,
     visitar o navegar por la Web o el aporte de contenidos u otros materiales en el Sitio, 
     usted acepta que quedará vinculado por estos Términos y Condiciones. 
     

    <h3>Enlaces a Otros Sitios</h3>
Nuestro sitio puede contener enlaces a sitios de terceros que no son propiedad


    <h3>Exactitud</h3>
la información puede modificarse o actualizarse de vez en cuando sin previo aviso, incluyendo, sin limitación, 
la información con respecto a nuestras políticas, productos y servicios.

<h3>Seguridad</h3>
Hemos implementado medidas de seguridad diseñadas para proteger su información 
contra pérdidas accidentales y frente al acceso, uso, alteración odivulgación. 
Sin embargo, no podemos garantizar que personas no autorizadas no obtendrán acceso a su información,
 y usted reconoce que usted proporciona su información a su propio riesgo, 
 salvo las excepciones establecidas por la ley aplicable.

 <h3>Transacciones del Comerciante</h3>
Cada Comerciante reconoce y acepta que SatoshiTango no tiene control sobre, 
ni responsabilidad por la entrega, calidad, seguridad, 
legalidad o cualquier otro aspecto de los bienes o servicios 
que el Comerciante puede vender a los clientes que utilizan los servicios SatoshiTango.




<!--

    <p>Por favor, lea estos Términos y Condiciones cuidadosamente 
    antes de usar www.criptotrust.com (el sitio).
    Al acceder o utilizar el Sitio en cualquier forma, incluyendo, pero no limitado a,
     visitar o navegar por la Web o el aporte de contenidos u otros materiales en el Sitio, 
     usted acepta que quedará vinculado por estos Términos y Condiciones. 
     

    <h3>Enlaces a Otros Sitios</h3>
Nuestro sitio puede contener enlaces a sitios de terceros que no son propiedad


    <h3>Exactitud</h3>
la información puede modificarse o actualizarse de vez en cuando sin previo aviso, incluyendo, sin limitación, 
la información con respecto a nuestras políticas, productos y servicios.

<h3>Seguridad</h3>
Hemos implementado medidas de seguridad diseñadas para proteger su información 
contra pérdidas accidentales y frente al acceso, uso, alteración odivulgación. 
Sin embargo, no podemos garantizar que personas no autorizadas no obtendrán acceso a su información,
 y usted reconoce que usted proporciona su información a su propio riesgo, 
 salvo las excepciones establecidas por la ley aplicable.

 <h3>Transacciones del Comerciante</h3>
Cada Comerciante reconoce y acepta que SatoshiTango no tiene control sobre, 
ni responsabilidad por la entrega, calidad, seguridad, 
legalidad o cualquier otro aspecto de los bienes o servicios 
que el Comerciante puede vender a los clientes que utilizan los servicios SatoshiTango.

</p>
-->