<div class="grid">
    <div class="mat-elevation-z4 " style="margin: 10px;">
        <div style="margin: 10px;">
<div>
    <h2>Vender {{datosCompra.nombreCriptomoneda}}</h2>

    <div>
        <form action="" [formGroup]="formConfigurarCompra">
        <p>Ingrese la cantidad a vender.</p>
        <div class="flex">
            <mat-form-field>
                
        <input matInput type="number" 
        (input)="onSearchChange($event.target.value)" 
        formControlName="cantidad" 
        placeholder="Cantidad">
        
       
        
    </mat-form-field>
    <span *ngIf="this.validarCantidad ">
        Saldo insuficiente
      </span>
</div>

<mat-form-field >
    <mat-label>Forma de compra</mat-label>
    <mat-select  formControlName="formaCompra" (selectionChange)="cambioFormaPago()" [(ngModel)]="selected">
      <mat-option *ngFor="let forma of formaCompra" [value]="forma.value">
          <div>
          <img [src]="forma.imgUrl" alt="" height="15px" width="15px">
        {{forma.viewValue}}
    </div>
      </mat-option>
    </mat-select>
  </mat-form-field>

<div>
    <hr> 
    
</div>
        
        <div class="flex">
            <mat-form-field>
        <input matInput type="number" value="{{datosCompra.monto}}" formControlName="monto" placeholder="Monto de la venta">
    </mat-form-field>
</div>
    </form>
    </div>
    <div>
        <p>Tené en cuenta que la venta de {{datosCompra.nombreCriptomoneda}} tiene {{datosCompra.comision | percent}} de comisión.</p>

    </div>
    <div>
        <button [disabled]="this.invalidarForm || !this.formConfigurarCompra.valid" mat-raised-button color="primary" (click)="confirmarCompra()">Confirmar venta</button>
    </div>
</div>

</div>
</div>
</div>