<div>
    <h2>Comprar {{datosVenta.nombreCriptomoneda}}</h2>

    <div>
        <form action="" [formGroup]="formConfigurarVenta">
        <p>Ingrese el monto a comprar.</p>
        <input type="number" (input)="onSearchChange($event.target.value)" formControlName="monto">
        <hr>
        <input type="number" value="{{datosVenta.cantidad}}" formControlName="cantidad">
    </form>
    </div>
    <div>
        <p>Tené en cuenta que la compra de {{datosVenta.nombreCriptomoneda}} tiene {{datosVenta.comision | percent}} de comisión.</p>

    </div>
    <div>
        <button (click)="confirmarVenta()">Confirmar compra</button>
    </div>
</div>
