<p><b>Bienvenido a la sección preguntas frecuentes:</b></p>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Crear cuenta
</mat-panel-title>

</mat-expansion-panel-header>
<p>
    <b>Nombre, Apellido y Dirección: </b>Debe ingresar tal cual figuran en el DNI.<br>
    <b>Email: </b>Debe ser una casilla de correo electrono al cual se conecte con frecuencia, ya que se le notificaran sus transacciones!<br>
    <b>Contraseña: </b>Debe ser entre 7 y 10 caracteres alfanumericos.<br>
    <b>DNI: </b> Debe ser el que aparece en el DNI
    <b>Banco y CBU:</b> Aqui apareceran los bancos y CBUs agregados. 
</p>
<img src="../../../assets/RegistrarseCampos.png" alt="">
<hr>
<p>
<b>Banco: </b>Seleccione el banco con el cual quiere operar.<br>
<b>CBU:</b>Debe ingresar el codigo bancario unico(CBU) asociado a la cuenta del banco ingresado.Puede ingresar todos los CBU y bancos como desee.<br>
<b>Agregar: </b>Boton que agrega el banco y CBU a la lista de bancos.<br>
<b>Registrar usuario: </b>Una vez corroborados que todos los datos ingresados son correctos<br>, al pulsar <b>Registrar usuario</b>, estara su cuenta disponible para operar
</p>
<img src="../../../assets/registrarseBancos.png" alt="">


</mat-expansion-panel>

<hr>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title >
Como realizar una compra
</mat-panel-title>

</mat-expansion-panel-header>
<p>En las siguientes imagenes se explica el procedimiento para realizar una compra</p>
<img src="../../../assets/seleccionecriptoEnGrande.png" alt="">
<br>
<img src="../../../assets/configurarCompraRojo.png" alt="">
<br>
<img src="../../../assets/confirmarCompraRojo.png" alt="">

</mat-expansion-panel>



